body {
  margin: auto;
  width: 70%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#header {
  margin-top: 0.5rem;
}

.error {
  color: red;
}

table {
  width: 100%;
}

th, td {
  width: 30%;
}

th {
  background-color: #fbcfcf;
}

td {
  background-color: rgb(98.4%, 93.5%, 81%);
}